<!DOCTYPE html>
html(lang="en")
  head
    link(rel="stylesheet", href="https://bootswatch.com/4/flatly/bootstrap.min.css")
    title Node-Auth
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
      a.navbar-brand(href='/') Node-Auth
      button.navbar-toggler
        span.navbar-toggler-icon
      #navbarColor01.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
        if user
          ul.navbar-nav
            li.nav-item
              a.nav-link(href="/profile") Profile
            li.nav-item
              a.nav-link.btn.btn-secondary(href="/logout") Sign Out
    .container
      block content