extends layout

block content
  h3 Login
  each message,key in messages
    .alert.alert-dismissible.alert-danger
      span #{message}
  form(method="post")
    .form-group
      label(for="username") Username
      input#username.form-control(type="text" name="username" required)
    .form-group
      label(for="password") Password
      input#password.form-control(type="password" name="password" required)
    button.btn.btn-primary(type="submit") Submit